@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="row">
        <Button class="btn btn-primary"><a href="/Report/Task1" target="_blank" style="color: white">Task1</a></Button>
        <Button class="btn btn-primary"><a href="/Report/Task2" target="_blank" style="color: white">Task2</a></Button>
        <Button class="btn btn-primary"><a href="/Report/Task3" target="_blank" style="color: white">Task3</a></Button>
        <Button class="btn btn-primary"><a href="/Report/Task4" target="_blank" style="color: white">Task4</a></Button>
        <Button class="btn btn-primary"><a href="#" target="_blank" style="color: white">Task5</a></Button>
        <Button class="btn btn-primary"><a href="#" target="_blank" style="color: white">Task6</a></Button>
        <Button class="btn btn-primary"><a href="#" target="_blank" style="color: white">Task7</a></Button>
        <Button class="btn btn-primary"><a href="#" target="_blank" style="color: white">Task8</a></Button>
        <Button class="btn btn-primary"><a href="#" target="_blank" style="color: white">Task9</a></Button>
        <Button class="btn btn-primary"><a href="#" target="_blank" style="color: white">Task10</a></Button>
        <Button class="btn btn-primary"><a href="#" target="_blank" style="color: white">Task11</a></Button>
        <Button class="btn btn-primary"><a href="#" target="_blank" style="color: white">Task12</a></Button>
        <Button class="btn btn-primary"><a href="#" target="_blank" style="color: white">Task13</a></Button>
        <Button class="btn btn-primary"><a href="#" target="_blank" style="color: white">Task14</a></Button>
    </div>
</div>
