@{
    ViewBag.Title = "Home Page";
}

<div class="row mw-100">
    <div class="col-5">
        <p style="margin-top: 37%; margin-left: 23%; font-size: 55px; font-family: 'Courier New'; color: #6C63FF; margin-bottom: 0px">Choose your Show</p>
        <p style=" margin-left: 20%; font-family: 'Courier New'; color: #777; margin-bottom: 10px">"Anyone who tries to make a distinction between education and entertainment doesn't know the first thing about either."</p>
        <Button class="btn btn-outline-primary" style="height:50px; margin-left:45%"><a href="/Report/GetStarted" style="text-decoration: none; color: #000">Get Started -></a></Button>
    </div>
    <div class="col-5">
        <img src="~/Image/media.png" style="margin-top: 5%" />
    </div>
</div>
